<!--ul class="nav nav-pills nav-justified">
  <li class="active"><a routerLink="/Principal">Ir a inicio</a></li>
  <li><a (click)="TraerTodos()">Todos los jugadores</a></li>
  <li><a (click)="TraerGanadores()">Los ganadores</a></li>
  <li><a (click)="TraerPerdedores()">Los perdedores</a></li>
</ul-->
<app-cabecera [loggedIn] = "loggedIn" [userName] = "userName" (logOut)="procesarCerrar($event)"> </app-cabecera>


<table class="table table-condensed">
  <thead>
    <tr>
      <th>Nombre de usuario</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let jugador of listado" >
      <td>{{jugador.userName}} </td>
      <td>{{jugador.nombre}} </td> 
      <td>{{jugador.apellido}} </td> 
      <td>{{jugador.email}} </td>
    </tr>
  </tbody>
</table>