<!--ul class="nav nav-pills nav-justified">
  <li class="active"><a routerLink="/Principal">Ir a inicio</a></li>
  <li><a (click)="TraerTodos()">Todos los jugadores</a></li>
  <li><a (click)="TraerGanadores()">Los ganadores</a></li>
  <li><a (click)="TraerPerdedores()">Los perdedores</a></li>
</ul-->
<app-cabecera [loggedIn]="loggedIn" [userName]="userName" (logOut)="procesarCerrar($event)"> </app-cabecera>

<div class="container">
  <div style="overflow-x:auto;">

    <div *ngIf='loggedIn' class="padding-top-50">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>Listado de jugadores.</h3>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Nombre de usuario</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let jugador of listado">
                <td>{{jugador.userName}} </td>
                <td>{{jugador.nombre}} </td>
                <td>{{jugador.apellido}} </td>
                <td>{{jugador.email}} </td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>