<app-cabecera [loggedIn]="loggedin"></app-cabecera>
<div class="container">
  <div class="contain">
    <h1>Registro de usuario</h1>
    <div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">

        <label><b>Nombre</b></label>
        <input type="text" id="nombre" placeholder="Nombre" formControlName="nombre" required>

        <label><b>Apellido</b></label>
        <input id="apellido" type="text" placeholder="Apellido" formControlName="apellido" name="apellido" required>

        <label><b>Nombre de usuario</b></label>
        <input id="userName" type="text" placeholder="Nombre de usuario" formControlName="userName" name="userName" required>

        <label><b>Contraseña</b></label>
        <input id="password" type="password" placeholder="Clave" formControlName="password" name="password" required>

        <label><b>Email</b></label>
        <input id="email" type="text" placeholder="Email" formControlName="email" name="email" required>

        <!--div>
          <label for="file"><b>Seleccione su imagen</b></label>
          <input type="file" id="file" formControlName="foto" (change)="handleFileInput($event.target.files)">
        </div-->

        <div class="padding-top-20">
          <button mat-button type="submit" [disabled]="!loginForm.valid" class="btn btn-default">Enviar
              <mat-icon>arrow_right_alt</mat-icon>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>