<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">

  <label for="nombre">
    Nombre
  </label>
  <input id="nombre" type="text" formControlName="nombre" required class="form-control">


  <div>
    <label for="apellido">
      Apellido
    </label>
    <input id="apellido" type="text" formControlName="apellido">
  </div>

  <div>
    <label for="userName">
      Nombre de usuario
    </label>
    <input id="userName" type="text" formControlName="userName">
  </div>

  <div>
    <label for="password">
      Contraseña
    </label>
    <input id="password" type="text" formControlName="password">
  </div>

  <div>
    <label for="documento">
      Documento
    </label>
    <input id="documento" type="text" formControlName="documento">
  </div>

  <button class="button" type="submit" [disabled]="!loginForm.valid">Enviar</button>

</form>