<app-cabecera> </app-cabecera>
<div class="container">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <a routerLink="/Juegos">
        <mat-grid-tile-header>Juegos</mat-grid-tile-header>
        <img class="cardImg" mat-card-lg-image src="../../../assets/imagenes/juegos-card.png" alt="Juegos">
        <mat-grid-tile-footer>
          <p>
            El método lúdico es un conjunto de estrategias.
          </p>
        </mat-grid-tile-footer>
      </a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a routerLink="/Listado">
        <mat-grid-tile-header>Listados de resultados</mat-grid-tile-header>
        <img class="cardImg" mat-card-lg-image src="./assets/imagenes/resultados-card.jpg" alt="Resultados">
        <mat-grid-tile-footer>
          <p>
            Los listados de los resultados con ordenamiento y busqueda.
          </p>
        </mat-grid-tile-footer>
      </a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a routerLink="/Configuracion">
        <mat-grid-tile-header>Configuraci&oacute;n</mat-grid-tile-header>
        <img class="cardImg" mat-card-lg-image src="./assets/imagenes/configuracion-card.png" alt="Resultados">
        <mat-grid-tile-footer>
          <p>
            Ajustes de la aplicacion y los métodos de autentificación.
          </p>
        </mat-grid-tile-footer>
      </a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a routerLink="/Jugadores">
        <mat-grid-tile-header>Jugadores</mat-grid-tile-header>
        <img class="cardImg" mat-card-lg-image src="./assets/imagenes/jugadores-card.gif" alt="jugadores">
        <mat-grid-tile-footer>
          <p>
              Listado de jugadores.
          </p>
        </mat-grid-tile-footer>
      </a>
    </mat-grid-tile>
  </mat-grid-list>
</div>