<app-cabecera> </app-cabecera>
<div class="container">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <a routerLink="/Juegos">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Juegos</mat-card-title>
          </mat-card-header>
          <img class="cardImg" mat-card-lg-image src="../../../assets/imagenes/juegos-card.png" alt="Juegos">
          <mat-card-content>
            <p>
              El método lúdico es un conjunto de estrategias.
            </p>
          </mat-card-content>
          <mat-card-footer>
          </mat-card-footer>
        </mat-card>
      </a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a routerLink="/Listado">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Listados de resultados</mat-card-title>
          </mat-card-header>
          <img class="cardImg" mat-card-lg-image src="./assets/imagenes/resultados-card.png" alt="Resultados">
          <mat-card-content>
            <p>
              Los listados de los resultados con ordenamiento y busqueda.
            </p>
          </mat-card-content>
        </mat-card>
      </a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a routerLink="#">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Configuraci&oacute;n</mat-card-title>
          </mat-card-header>
          <img class="cardImg" mat-card-lg-image src="./assets/imagenes/configuracion-card.png" alt="Resultados">
          <mat-card-content>
            <p>
              Ajustes de la aplicacion y los métodos de autentificación
            </p>
          </mat-card-content>
        </mat-card>
      </a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a routerLink="/Jugadores">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Jugadores</mat-card-title>
          </mat-card-header>
          <img class="cardImg" mat-card-lg-image src="./assets/imagenes/jugadores-card.png" alt="Resultados">
          <mat-card-content>
            <p>
              Listado de jugadores
            </p>
          </mat-card-content>
        </mat-card>
      </a>
    </mat-grid-tile>
  </mat-grid-list>
</div>