<div class="container">

  <div>
    <mat-card class="clickable" (click)="Juego('Agilidad')">
      <img mat-card-image src="../../../assets/imagenes/mental3.jpg" alt="Juego Mental" ALIGN="left">
      <mat-card-header>
        <mat-card-title>
          <h3>Velocidad y agilidad aritmética </h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>El objetivo de los juegos mentales es mejorar la capacidad de percepción, la intuición y el ingenio</p>
        <p>UTN FRA </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div>
    <mat-card class="clickable" (click)="Juego('PPT')">
      <img mat-card-image src="../../../assets/imagenes/ppt.png" alt="Juego Mental" ALIGN="left">
      <mat-card-header>
        <mat-card-title>
          <h3>Piedra Papel o Tijera</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>La piedra aplasta la tijera. ...
          La tijera corta el papel. ...
          El papel envuelve la piedra</p>
        <p>UTN FRA </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div>
    <mat-card class="clickable" (click)="Juego('Adivina')">
      <img mat-card-image src="../../../assets/imagenes/adivina.jpg" alt="Juego Mental" ALIGN="left">
      <mat-card-header>
        <mat-card-title>
          <h3>Adivina el número secreto</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Adivinaste, el juego consiste en adivinar el numero.</p>
        <p>UTN FRA </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div>
    <mat-card class="clickable" (click)="Juego('Quiz')">
      <img mat-card-image src="../../../assets/imagenes/images.jfif" alt="Quiz" ALIGN="left">
      <mat-card-header>
        <mat-card-title>
          <h3>Responde Correctamente</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Pon a prueba tus conocimientos con este juego de preguntas y respuestas.</p>
        <p>UTN FRA </p>
      </mat-card-content>
    </mat-card>
  </div>