.responsive {
  width: 100%;
  height: auto;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.fill-some-remaining-space {
  flex: 0.05 0.5 auto;
}

p {
    font: oblique bold 100% cursive;
    color: indigo;
}

.color{
  background-color: chocolate
}
