<mat-toolbar color="primary">
  <span class="fill-remaining-space">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <a routerLink="/Juegos" mat-menu-item>
        <mat-icon>sports_esports</mat-icon>
        <span>Juegos</span>
      </a>
      <a routerLink="/Listado" mat-menu-item>
        <mat-icon>emoji_events</mat-icon>
        <span>Resultados</span>
      </a>
      <a routerLink="/Jugadores" mat-menu-item>
        <mat-icon>settings_applications</mat-icon>
        <span>Configuracion</span>
      </a>
      <a routerLink="/Configuracion" mat-menu-item>
        <mat-icon>people_alt</mat-icon>
        <span>Jugadores</span>
      </a>
      <a routerLink="/cerrar" mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Salir</span>
      </a>
    </mat-menu>
  </span>
  <span class="fill-remaining-space">Sala de Juegos</span>
  <a routerLink="/QuienSoy">Quien Soy? <i class="fa fa-user"></i></a>
  <a href="https://github.com/octaviovillegas" target="_blank">en GitHub <i class="fa fa-github"></i></a>
  <a routerLink="/Registro"><span class="glyphicon glyphicon-user"></span>Registrarse</a>
  <a routerLink="/Login"><span class="glyphicon glyphicon-log-in"></span> Ingresar</a>
</mat-toolbar>